Source: kano-jupyter
Maintainer: Team Kano <dev@kano.me>
Section: graphics
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0)

Package: kano-jupyter
Architecture: all
Depends: ${shlibs:Depends},
   ${misc:Depends},
   python3,
   jupyter-notebook,
   jupyter-nbextension-jupyter-js-widgets,
   python-ipykernel,
   python-opencv,
   python-numpy
Description: Jupyter Notebook on Kano OS
